name: Test WifiGate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: "ubuntu-latest"
    name: Validate HACS and Hassfest
    steps:
        - uses: "actions/checkout@v5"

        - name: HACS validation
          uses: "hacs/action@main"
          with:
            category: "integration"

        - name: Hassfest validation
          uses: "home-assistant/actions/hassfest@master"

  tests:
    runs-on: "ubuntu-latest"
    name: Run tests
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v5"
      - name: Setup Python
        uses: "actions/setup-python@v6"
        with:
          python-version: "3.13"
      - name: Install requirements
        run: python3 -m pip install -r requirements_test.txt
      - name: Run pytest
        run: |
          pytest
